@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 242, 187, 201;
    --background-end-rgb: 242, 187, 201;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --foreground-rgb: 242, 187, 201;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

  

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* froala */
.fr-box ol,.fr-box ul, .fr-box menu, .allowStyles ol, .allowStyles ul, .allowStyles menu {
  list-style: inherit;
  margin: inherit;
  padding: inherit;
}
.fr-wrapper.show-placeholder > div:first-child > a[href='https://www.froala.com/wysiwyg-editor?k=u']{
  display: none !important;
}
a[id="fr-logo"] {
  display: none !important;
}
p[data-f-id="pbf"] {
  display: none !important;
}
a[href*="www.froala.com"] {
  display: none !important;
}